<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>

    <!-- ====== ЭТО НАВИГАЦИОННОЕ МЕНЮ ====== -->
    <nav>
        <ul>
            <li><a href="index">Главная</a></li>
            <li><a href="mass_list">Одиночная обработка</a></li>
            <li><a href="batch_mass_list">Поточная обработка</a></li> 
        </ul>
    </nav>

    <h1>Добро пожаловать на главную!</h1>
    <p>Это текст только для главной страницы.</p>

</body>
</html>